<header>
    <div  class="header1">
        <p class="text-center ">
            {{ "header.title" | translate}}
        </p>
    </div>

   <nav class="header2 navbar navbar-expand-lg navbar-light" >
    <div class="container-fluid">
    <!--  <a class="navbar-brand" href="#">{{ "name" | translate }}</a>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar navbar-expand-lg justify-content-between" style="width:100%" id="navbarText">
        <ul class="nav">
          <li class="nav-item" *ngFor="let item of header2_items">
            <a class="nav-link active" aria-current="page" href="#">{{ isRtl? item.name_ar:item.name}}</a>
          </li>
        </ul>
        <ul class="nav d-flex flex-row arabic">
          <span class="navbar-text" style="color: rgb(102, 102, 102); font-size: 12px;margin-top: auto;">
            <b class="text-danger" >15%</b> {{isRtl? 'خصم على طلبك الأول' :'de réduction sur votre première commande' }}
          </span>

          <span style="margin:10px" routerLink="/login">
          <img src="/assets/icons/user_gray.png" width="16px" height="16px"/>
          </span>
          <span style="margin:10px" >
            <img src="/assets/icons/claim_gray.png" width="16px" height="16px"/>

          </span>
          <span style="margin:10px">
            <img src="/assets/icons/health_gray.png" width="16px" height="16px"/>

          </span>
          <span style="margin:10px">
            <img src="/assets/icons/phone_gray.png" width="16px" height="16px"/>

          </span>
          <span style="margin:10px" (click)="callParentselectLang()">
            <img src="/assets/icons/renew_gray.png" width="16px" height="16px"/>

          </span>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="header3 navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="nav">
        
          <li class="nav-item" *ngFor="let item of header3_items">
            <a class="nav-link active" aria-current="page" href="#">{{ isRtl? item.name_ar:item.name}}</a>
          </li>
      
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
</header>


  
  